a
{
    text-decoration: none;
}

body
{
    background-color: black;
    color: white;
    font-family: 'Indie Flower', Comic Sans MS;
    weight: normal;
    font-size: 20px;
}

h1
{
    font-size: 40px;
    color: #ffffff;
}

h2
{
    font-size: 30px;
    color: #bbbbbb;
}

section
{
    margin: 200px 0 200px;
    line-height: 200px;
}

footer
{
    color: #8b8b8b;
}

#twitter
{
    padding-right: 100px;
}