a
{
    text-decoration: none;
}

body
{
    background-color: black;
    color: white;
    font-family: 'Indie Flower', Comic Sans MS;
    weight: normal;
    font-size: 20px;
}

header
{
    text-align: center;
}

h1
{
    font-size: 40px;
    color: #ffffff;
}

h2
{
    font-size: 30px;
    color: #bbbbbb;
}

section
{
    margin: 200px 0 200px;
    line-height: 200px;
}

footer
{
    color: #8b8b8b;
}

#twitter
{
    padding-right: 100px;
}

#gallery
{
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li
{
    float: left;
    width: 20%;
    margin: 2.5%;
}

#test
{
    width: 1000px;
    height: 1000px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

footer
{
    position: absolute;
    margin-top: 120px;
    margin-left: 500px;
 }
