a
{
    text-decoration: none;
}

body
{
    background-color: black;
    color: white;
    font-family: 'Indie Flower', Comic Sans MS;
    weight: normal;
    font-size: 20px;
}

header
{
    text-align: center;
}

h1
{
    font-size: 40px;
    color: #ffffff;
}

h2
{
    font-size: 30px;
    color: #bbbbbb;
}

section
{
    margin: 200px 0 200px;
    line-height: 200px;
}

footer
{
    color: #8b8b8b;
}

#twitter
{
    padding-right: 100px;
}

#gallery
{
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li
{
    float: left;
    width: 20%;
    margin: 2.5%;
}

div#test
{
    width: 1000px;
    height: 1000px;
    background-color: white;
    position: absolute;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    display: inline-block;
}

footer
{
    position: absolute;
    margin-top: 120px;
    margin-left: 500px;
 }

#logo
{
    margin-top: 20px;
}

#header
{
    list-style: none;
}
div#test div#shit
{
    color: blue;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    background-color: #DDDDDD;
}
