body
{
    background-color: black;
    color: white;
    font-family: 'Indie Flower', Comic Sans MS;
    weight: normal;
    font-size: 20px;
}

h1
{
    font-size: 40px;
    color: #32CD32;
}

h2
{
    font-size: 30px;
    color: #FF0000;
}